
	
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background-image: url(fashionp.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
#menu2{
  display: none;
}
#my_style p {
    display: none;
  }
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
.pictures{
	display: none;
}
#logo{
	display: none;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


@media (min-width: 600px){
	body{
		background-color: white;
    background-image: none;
	}
	input{
		display: none;
	}
	#homepage_pic{
		float: right;
	}
  #menu2{
    list-style-type: none;
    padding: 40px;
    width: 100%;
    background-color: none;
    left:70px;
    padding-left: 200px;
    display: inline;
}
/*
	#menu{
		list-style-type: none;
		position: absolute;
		left: 30px;
		top: 500px;
	}
  */
	#menu2 li{
    display: inline;
    margin-right: 60px;
		text-decoration: none;
    margin-left: 150px;
		color: black;
		line-height: 1.5em;
		font-family: Kohinoor Bangla, Calibri, sans-serif; 
		font-size: 20px;
	}
  #menu2 li a{
    clear: both;
    text-decoration: none;
    color: black;
    line-height: 1.5em;
    font-family: Kohinoor Bangla, Calibri, sans-serif; 
    font-size: 20px;
  }
	#menu2 li a:hover{
	color: red;
    text-decoration: underline;
  }
  #menu2 li a:active{
  	color: white;
  	text-decoration: none;
  }
  #logo{
    clear: both;
    position: absolute;
    left: 10px;
    top:19px;
    display: inline;
  }
  .pictures {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
}



/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 30px;
}

.column img {
  margin-top: 40px;
  vertical-align: middle;
  margin-right: 40px;
}
#my_style p{
  font-family: Kohinoor Bangla, Calibri, sans-serif; 
  font-size: 20px;
  display: inline;
  color:grey;
}

#menuToggle{
  display: none;
}
  

}